*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.15rem;
}

ul{
    text-align: right;
}

header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 2;
}

#logo{
    float: left;
    margin-left: 10px;
    height: 50px;
    z-index: 10;
}

.nav li{
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
}


.mission{
    height: 700px;
    width: 1200px;
    display: inline-block;
}

.mission h2, h4{
    align-items: center;
}

.tea{
    width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tea img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

article{
    height: 500px;
    
}

.locations{
    height: 500px;
    width: 1200px;
    display: inline-flex;
    align-content: center;
    align-items: center;
}

#Downtown{
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 15px 20px;
}

#east{
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 15px 20px;
}

#Oakdale{
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 15px 20px;
}

footer{
    height: 200px;
}

.copyright{
    margin-left: 20px;
    text-align: left;
}