*{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.5rem;
}

ul{
    text-align: right;
}

header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 999;
}

#logo{
    float: left;
    margin-left: 10px;
    height: 50px;
}

.nav li{
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
}


.mission{
    height: 700px;
    width: 1200px;
}

.mission h2, h4{
    flex-wrap: wrap;
    align-items: center;
}


